        body{
            margin: 0%;
            
        }
        .navi{
            position: absolute;
            left: 88%;
            width: 180px;
            height: 760px;
            background: #000000c5;
           
        }
        #hom{
            position: relative;
            top: 25px;
            text-align: right;
            text-decoration: none;
            margin: 20px;
            padding-right: 20px;
            color: khaki;
            font-size: 25px;
            font-family: fantasy    ;
        }
        #ser{
            position: relative;
            top: 25px;
            text-align: right;
            text-decoration: none;
            margin: 20px;
            padding-right: 20px;
            color: khaki;
            font-size: 25px;
            font-family: fantasy    ;
        }
        #abo{
            position: relative;
            top: 25px;
            
            text-align: right;
            text-decoration: none;
            margin: 20px;
            padding-right: 20px;
            color: khaki;
            font-size: 25px;
            font-family: fantasy    ;
        }
        #con{
            position: relative;
            top: 25px;
           
            text-align: right;
            text-decoration: none;
            margin: 20px;
            padding-right: 20px;
            color: khaki;
            font-size: 25px;
            font-family: fantasy    ;
        }
        #logo{
            position: absolute;
            top:30px;
            left: 5%;
            width: 100px;
            height: 80px;
            text-align: right;
        }
        #back{
            width: 88%;
            height: 760px;
            background-color: black;
            border: grey;
            position: static;
            padding: 0%;
            margin: 0%;
        }
        .text{
            margin-left: 5px;
            margin-right: 12px;
            padding: 15px;
            width: 49%;
            font-size: 20px;
            font-weight: 500;
            font-family: sans-serif ;
            border-top:solid 5px red;
            background-color: wheat;
            letter-spacing: 1pt;
            line-height: 39pt;  
        }
        .tabl{
            margin: 20px;
            padding: 50px;
            padding-top: 100px;
            padding-bottom: 2px;
        }
        ul {
            margin: 20px;
            padding: 50px;
            padding-top: 2px;
            font-size: 20px;
            font-family: sans-serif ;

        }
        .box{
            position: absolute;
            left: 50%;
            top: 764px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 200;
            font-style: oblique;
            line-height: 39pt;
            letter-spacing: 1pt;
            margin-left: 30px;
            padding-left: 20px;
            font-size: 15px;
            color: #000000;
            border-top: solid 5px red; 
            width: 46%;
            height: 810px;
            background-color: #0cb466e5;;
        }
        h1 , audio{
            margin-left: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            line-height: 10px;
            text-align: left;
            color: brown;
            font-size: 1em;
            text-transform: uppercase;
        }
        hr{
            margin: 20px;
            width: 40%;
            text-align: left;
            border: 3px solid #12123a;
            border-radius: 2px;
        }
       
        .fot{
            margin: 0%;
            padding: 5px;
            padding-left: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 200;
            font-style: oblique;
            line-height: 39pt;
            letter-spacing: 1pt;
            border: solid 5px #423e3ea6;
            background-color: #000000;
            color: honeydew;
            text-align: left;
        }
        a{
            text-decoration: none;
            color: khaki;
            font-size: 20px;
        }
        a:hover{

            color: #e756c3;
            font-size: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent ;
            -webkit-text-stroke-width: 2px ;
        }
        .aud{
            margin: 10px;
            padding-top: 40px;
            position: absolute;
            width: 45%;
            border-top: dotted 5px red;
            left: 52%;
        }
        .vid{
            margin: 10px;
            padding: 10px;
            border-top: dotted 5px red;
            width: 50%;
        }
        #info:hover{
            color: violet;
            text-shadow: white;
        }